body {
    text-align: center;
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,0.5564819677871149) 0%, rgba(9,27,121,0.31278448879551823) 35%, rgba(0,212,255,0.413624824929972) 100%);
}

#header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#game-option {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin: 0px 50px 0px 15vw; */

}

.play-game {
    text-transform: uppercase;
    background-color: initial;
    font-size: 20px;
    width: 20vh;
    height: 5vh;
    box-shadow: 10px 5px 5px rgb(44, 74, 144);
}

.play-game:hover {
    background-color: aqua;
}

canvas {
    box-shadow: 10px 5px 5px gray;
}


#links {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin: 0px 15vw 0px 50px; */

}

.medias {
    border-radius: 100%;
    background-color: initial;
}