h1 {
    font-size: 70px;
    background-image: linear-gradient(to left, #e48314, #094fd0);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 10px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.h1 {
    width: 33vw;
}

body {
    text-align: center;
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,0.5564819677871149) 0%, rgba(9,27,121,0.31278448879551823) 35%, rgba(0,212,255,0.413624824929972) 100%);
}

#header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#game-option {
    width: 70vw;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin: 0px 50px 0px 15vw; */

}

.play-game {
    text-transform: uppercase;
    background-color: initial;
    font-size: 20px;
    width: 20vh;
    height: 5vh;
    box-shadow: 10px 5px 5px rgb(44, 74, 144);
}

.play-game:hover {
    background-color: aqua;
    transform: scale(1.04);
}

canvas {
    box-shadow: 10px 5px 5px gray;
}


#links {

    /* width: 30vw; */
    display: flex;
    justify-content:flex-end;
    /* border: 1px solid black; */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 100px;
    /* margin: 0px 15vw 0px 50px; */

}

.link:hover {
    transform: scale(1.04);
}

#github {
    width: 48px;
    height: 48px;
    margin: 10px;
    padding-left: 2px;
}

#linkedin {
    width: 48px;
    height: 48px;
    margin: 10px;
    padding-left: 2px;
}